*{
    padding: 0;
    margin: 0;
}

body {
    background-image: url('background.jpg');
    background-position: left;
    background-position-y: 50px;
    background-repeat: no-repeat;
    background-size: cover;
  }

.main_navbar{
    height: 50px;
    width: 100%;
    background: rgb(38, 42, 46);
}

.main_navbar ul{
    float: left;
    margin-left: 250px;
}

.main_navbar ul li{
    list-style: none;
    margin-right: 30px;
    display: inline-block;
    line-height: 50px;
}

.main_navbar ul li a{
    text-decoration: none;
    color: white;
    /* padding: 6px 13px; */
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.main_navbar ul li a:hover{
    text-decoration: underline;
    border-radius: 2px;

}

.date{
    float: right;
    color: white;
    line-height: 50px;
    margin-right: 300px;

    font-size: 16px;
    font-family: 'Roboto', sans-serif;
}


.navbar{
    height: 70px;
    width: 100%;
    background: rgb(0, 130, 160);
}

.navbar ul{
    float: left;
    margin-left: 250px;
}

.navbar ul li{
    list-style: none;
    margin-right: 30px;
    display: inline-block;
    line-height: 70px;
}

.navbar ul li a{
    text-decoration: none;
    color: white;
    /* padding: 6px 13px; */
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}

.navbar ul li .active{
    font-size: 22px;
}

.navbar ul li a:hover{
    text-decoration: underline;
    border-radius: 2px;

}


.author{
    margin-left: 250px;
    margin-right: 500px;
    margin-bottom: 30px;
    margin-top: 50px;

    align-items: center;
    display: flex;
    clear: both;
}

.author_name{
    margin-bottom: 20px;

    color: white;

    font-size: 28px;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.author_info{
    margin-left: 40px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 350;
}

.author_articles{
    margin-left: 250px;
    margin-right: 500px;
    margin-bottom: 30px;
    margin-top: 50px;

    color: white;

    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.articles{
    margin-left: 250px;
    margin-right: 500px;
}


.author_img {
    width: 200;
    height: auto;
}

.article_1{
    margin-bottom: 40px;

    width: 900px;
    height: 200;

    align-items: center;
    display: flex;
    clear: both;

    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500; 
}

.article_title{
    margin-left: 15px;
    margin-right: 10px;
    float: left;
}

.art_date{
    margin-left: 15px;

    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    font-weight: 300; 
}

.article_img {
    width: 430;
    height: 200;

    display: block;
    float: left;
}
